<!DOCTYPE html>
<html lang="en">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=gb2312">
<title>无标题文档</title>
<script language="JavaScript" type="text/JavaScript">
function MM_reloadPage(init) {  //reloads the window if Nav4 resized
  if (init==true) with (navigator) {if ((appName=="Netscape")&&(parseInt(appVersion)==4)) {
    document.MM_pgW=innerWidth; document.MM_pgH=innerHeight; onresize=MM_reloadPage; }}
  else if (innerWidth!=document.MM_pgW || innerHeight!=document.MM_pgH) location.reload();
}
MM_reloadPage(true);
//-->
</script>
<style type="text/css">
<!--
body,td,th {
	font-family: Verdana;
	font-size: 9pt;
	color: #666666;
}
body {
	background-color: #FFE7E6;
}
-->
</style></head>

<body>
<table width="578" height="400" border="0" align="center" cellpadding="0" cellspacing="0">
  <tr>
    <td width="13" rowspan="14"><img src="image/001.gif" width="13" height="400"></td>
    <td width="365" rowspan="14"><table width="226" border="0" cellpadding="0" cellspacing="0">
      <tr>
        <td><img src="image/002.gif" width="365" height="13"></td>
      </tr>
      <tr>
        <td height="365" bgcolor="#FFFFFF"><p>感谢使用moon's room提供的模板</p>
          <p>使用此模板,请做好本站连接</p>
          <p>站址:http://www.chinaz.com</p>
          </td>
      </tr>
      <tr>
        <td height="22"><img src="image/003.gif" width="365" height="22"></td>
      </tr>
    </table></td>
    <td width="54" rowspan="14"><img src="image/004.gif" width="54" height="400"></td>
    <td width="78" height="30"><img src="image/005.gif" width="110" height="30"></td>
    <td width="58" rowspan="14"><img src="image/019.gif" width="58" height="400"></td>
  </tr>
  <tr>
    <td height="28" background="image/006.gif"><div align="center">--+Menu+--</div></td>
  </tr>
  <tr>
    <td height="28" background="image/007.gif"><div align="center">Top</div></td>
  </tr>
  <tr>
    <td height="28" background="image/008.gif"><div align="center">New</div></td>
  </tr>
  <tr>
    <td height="28" background="image/009.gif"><div align="center">About</div></td>
  </tr>
  <tr>
    <td height="28" background="image/010.gif"><div align="center">Photo</div></td>
  </tr>
  <tr>
    <td height="28" background="image/011.gif"><div align="center">Diary</div></td>
  </tr>
  <tr>
    <td height="28" background="image/012.gif"><div align="center">Works</div></td>
  </tr>
  <tr>
    <td height="28" background="image/013.gif"><div align="center">Link</div></td>
  </tr>
  <tr>
    <td height="28" background="image/014.gif"><div align="center">Guestbook</div></td>
  </tr>
  <tr>
    <td height="28" background="image/015.gif"><div align="center">BBS</div></td>
  </tr>
  <tr>
    <td height="28" background="image/016.gif"><div align="center"></div></td>
  </tr>
  <tr>
    <td width="78" height="27" background="image/017.gif"><div align="center"></div></td>
  </tr>
  <tr>
    <td width="78" height="34"><img src="image/018.gif" width="110" height="34"></td>
  </tr>
</table>
</body>
</html>
