<html>
<head>
    <meta charset='UTF-8'>
    <link href="https://lib.baomitu.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{{url_for('static', filename='style.css')}}" rel="stylesheet">
    <title>登录</title>
</head>

<body>
<div class="header"><i class='fa fa-sign-in'></i> 登录</div>
<span class='login'>
<i class="fa fa-user-plus"></i>
<a href='{{ url_for("users.register") }}'>注册</a>
    <a href='{{ url_for("index") }}'>首页</a>
</span>
<form action="{{url_for('users.login')}}" method="POST">
    <div class="row">
        {{ form.name.label }}
        {{ form.name() }}
        <b>{{ form.name.errors[0] }}</b>
    </div>

    <div class="row">
        {{ form.password.label }}
        {{ form.password() }}
        <b>{{ form.password.errors[0] }}</b>
    </div>

    <div class="row">
        {{ form.submit() }}

    </div>
    <!--    类似于  {{ form.csrf_token }} 属性隐藏 -->
    {{ form.hidden_tag() }}
</form>
</body>
</html>
